
BODY { background: cyan;
             margin: 20px 20px 20px 20px; }

H1 { color: red;
        font-size: 3em;
        text-align: center;
        text-decoration: underline; }

H2.Heading1 { color: green;
                        font-size: 2em;
                        text-align: center;
                        text-decoration: underline; }

H2.Heading2 { color: orange;
                        font-size: 2em;
                        text-align: center;
                        text-decoration: underline; }

TABLE { border: 8px dotted red;
               cell-padding: 6px;
               cell-spacing: 1px; }

TR { background: red; }

P { color: darkblue;
      text-align: center;
      font-size: 27px; }

P.Link { color: red;
             font-size: 25px; }

A { font-style: italic; }

